/* File CSS */

.main-header{
    text-align: center;
}

.gender-container {
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.gender-options {
    display: flex;
    gap: 10px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    font-size: 1.0em;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.form-actions button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Mengatur gaya kotak form */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d3cccc; /* Warna latar belakang yang lembut */
    border-radius: 10px; /* Membuat sudut tumpul */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan */
}

.form-actions button:hover {
    background-color: #ddd;
}

main{
    display: flex;
    justify-content: space-evenly;
}

article{
    text-align: justify;
}

.form-style{
    background-color: aquamarine;
}

section{
    width: 40%;
}

footer{
    text-align: center;
}